.navbar{
    border-bottom: 4px solid #E0B65D;
    height: 96px;
}

.text-gold{
    color: #E0B65D;
}

.nav-link{
    font-weight: 500;
}

.logo{
    height: 64px;
}

.logo-canvas{
    height: 64px;
}

.offcanvas-nav .nav-link{
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-bottom: 1px solid #eee;
}

.offcanvas-nav .dropdown-menu {
    position: static !important;
    inset: none !important;
    transform: none !important;
    box-shadow: none;
}

.offcanvas-nav .dropdown-menu .dropdown-item{
    font-weight: 500;
}

.swiper-hero, .swiper-hero .swiper-slide{
    height: calc(100vh - 96px) !important;
    border-bottom: 4px solid #E0B65D;
}

.shape-welcome-image{
    width: 85%;
}

.shape-welcome{
    position: absolute;
    width: 80%;
    height: 400px;
    left: -124px;
    top: 25px;
}

.grades figure{
    height: 400px;
}

.grades figure a{
    height: 100% !important;
}

.grades figure a img{
    height: 100% !important;
}

@media (min-width: 1024px) {
    .logo{
        height: 72px;
    }
}
