:root {
  --primary: #001965;
}

#app {
  height: 100vh;
  width: 100%;
}

.main-container{
  height: calc(100vh - var(--header-height));
}

.kt-table tr:hover {
  background-color: var(--color-gray-50);
  cursor: pointer;
}

.dark .kt-table tr:hover {
  background-color: var(--color-gray-900);
}

.word-break {
  word-break: break-all;
}

.max-content {
  width: max-content;
}

.w-fit {
  width: fit-content;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.select2{
  width: 100% !important;
}

.select2-selection--single{
    display: flex !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__clear{
    cursor: pointer !important;
}

.dark .select2-container .select2-selection--single{
  background-color: #000 !important;
}

.dark .select2-container--default .select2-selection--single .select2-selection__clear{
  color: #fff !important;
}

.dark .select2-dropdown{
  background-color: #000 !important;
}

@media (min-width: 1024px) {
  .lg\:w-80 {
    width: 15rem;
  }
}

.grid-cols-2 lg\:grid-cols-4 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
