
<div class="row">   
    <div class="col-12">   
        <h2>Apply now for Admission</h2>

        <p> 
            At Saudi International School, we believe that every child deserves the opportunity to thrive in an environment that nurtures their potential and prepares them for a bright future. Our comprehensive educational approach combines academic excellence with character development, ensuring students are well-equipped for the challenges of tomorrow.
            <br>
            Join our community of learners and discover the difference that quality education makes in shaping young minds.
        </p>

        <div class="text-start mt-6">
            <a href="https://eregistration.sis.edu.sa/en-GB/Saud" target="_blank" class="btn btn-primary rounded text-center">
                <i class="uil uil-angle-right-b me-2"></i>
                Apply now
            </a>
        </div>
    </div>
</div>


<div class="row">   
    <div class="col-12">   
        <h2>قم بتقديم طلب التسجيل</h2>

        <p> 
            في مدرسة السعود الدولية، نؤمن بأن كل طفل يستحق الفرصة للازدهار في بيئة ترعى إمكانياته وتعدّه لمستقبل مشرق. نهجنا التعليمي الشامل يجمع بين التميز الأكاديمي وتطوير الشخصية، مما يضمن أن الطلاب مجهزون جيداً لتحديات الغد.
            <br>
            انضم إلى مجتمعنا التعليمي واكتشف الفرق الذي يحدثه التعليم الجيد في تشكيل العقول الشابة.
        </p>

        <div class="text-start mt-6">
            <a href="https://eregistration.sis.edu.sa/en-GB/Saud" target="_blank" class="btn btn-primary rounded text-center">
                <i class="uil uil-angle-right-b me-2"></i>
                تقديم طلب التسجيل
            </a>
        </div>
    </div>
</div>
